# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project specific (insta_scraper_02)
*.DS_Store
*.env
/insta_scraper_02/images
/insta_scraper_02/post_screenshots
/insta_scraper_02/virt
*.xlsx
*.json

